<div class="mainBox">
    <div class="todoBox Box">
      <h1>To Do</h1>
      <h4 *ngFor="let tarefa of tarefasGeral; index as indice">
        <div *ngIf="tarefa.classeTarefa == 'to-do'">
          <!-- Primeiro Cadastro: {{ isFirst }} -->
          Tarefa {{ tarefa.codigoTarefa + 1 }}:
          {{ tarefa.nomeTarefa }}
          <select (change) = "mudarCategoria()"
          [(ngModel)]="tarefa.classeTarefa">
            <option>{{ tarefa.classeTarefa }}</option>
            <option>to-do</option>
            <option>doing</option>
            <option>done</option>
          </select>
          <button (click)="removerTarefa(indice)">Remover</button>
        </div>
      </h4>
    </div>