<app-nav></app-nav>
<div class="flexTarefa">
  <div class="modalNovaTarefa">
    <h1 class="modalTitle">Nova Propriedade</h1>
    <div class="inputs">
      <input class="inputNovaPropriedade"
       [(ngModel)]="propriedade.nomePropriedade"
        type="text"
        [disabled]="propertieAddBoolean" />
      <select
       class="selectTipoDados"
       [(ngModel)]="propriedade.tipoDado"
       [disabled]="propertieAddBoolean"
       >
        <option></option>
        <option>Número</option>
        <option>Texto</option>
        <option>Seleção</option>
      </select>
      <select
        *ngIf = "propriedade.tipoDado == 'Seleção'"
        class="selectSelecao"
        >
        <option></option>
        <option *ngFor="let item of categoriasGeral">{{ item }}</option>
      </select>
    </div>
    <button class="botaoFecharModal" (click)="cadastrarTipo()" [disabled]="propertieAddBoolean">Cadastrar</button>
  </div>
</div>

<div class="listaCategorias">
  <h1 class="titleLista">Lista de Propriedades</h1>
  <ul class="lista">
    <li *ngFor="let propriedade of propriedadesGeral; index as indice" class="itemPropriedade">
      {{ propriedade.nomePropriedade }}
      <a href="#" class="btnRemove" (click)="removerClasse(indice)">X</a>
    </li>
  </ul>
</div>
