<app-nav></app-nav>
<div class="mainDiv">
    <h1>Cadastrar propriedade</h1>
    <div class="divInputs">
        <input type="text" class="inputCadastro" placeholder="Digite o nome da propriedade aqui" [(ngModel)]="propriedade.nomePropriedade">
        <select class="select" [(ngModel)]="propriedade.tipoPropriedade">
            <option></option>
            <option>Texto</option>
            <option>Número</option>
            <option>Seleção</option>
            <option>Calendário</option>
        </select>
    </div>
    <button class="btnCadastrar" (click)="cadastraPropriedade()">Cadastrar</button>

    <!-- <h1>Todas</h1>
    <select class="selectTipoLista">
        <option *ngFor></option>
    </select> -->
    <div class="mainListaPropriedades">
        
        <div class="itemLista" *ngFor="let propriedade of listaPropriedades">
            <h1 class="nomePropriedade">Nome: {{propriedade.nomePropriedade}}</h1>
            <div class="mainBox">
                <h1 class="valorPropriedade">Tipo: {{propriedade.tipoPropriedade}}</h1>
            </div>
            <div class="btns">
                <button class="btn btn-editar">Editar</button>
                <button class="btn btn-remover">Remover</button>
            </div>
        </div>
    </div>
</div>