<app-nav></app-nav>
<main>
      <div class="header">
        <button class="btnCadastroTarefa" (click)="cadastrarTarefaButton()">cadastrar tarefa</button>
          <h1 class="titlePage">Tarefas</h1>
          <select>  
            <option value="">Padrão</option>
            <option value="">Categorias</option>
            <option value="">Calendário</option>
          </select>
      </div>

      <div class="cadastroBox" *ngIf="cadastroTarefaBoolean">
        <h1 class="titleCadastro">Cadastre a sua tarefas aqui!</h1>
        <input class="inputCadastro" type="text" placeholder="Digite o nome da tarefa" [(ngModel)]="tarefa.nomeTarefa">
       <button class="btnCadastrar" (click)="cadastroTarefa()">Cadastrar</button>
    </div>

    <div class="tarefasBox">
        <div class="tarefas" *ngFor="let tarefa of tarefasGeral">
          <div class="tarefa">
            <h1 class="tarefaNome">{{tarefa.nomeTarefa}}</h1>
            <div class="propriedades">
              
            </div>
            <div class="btns">
              <button class="btn btn-editar">Editar</button>
              <button class="btn btn-remover">Remover</button>
        </div>
          </div>
        </div>
    </div>
</main>