.modalNovaTarefa {
    position: absolute;
    height: 260px;
    width: 100vh;
    background-color: rgb(197, 196, 196);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexTarefa {
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.botaoFecharModal {
    padding: 10px 15px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}

.inputNovaTarefa {
    padding: 5px;
    margin-bottom: 30px;
}