<app-nav></app-nav>
<div class="flexTarefa">
  <div class="modalNovaTarefa">
    <h1 class="modalTitle">Nova Categoria</h1>
    <div class="inputs">
      <input
       class="inputNovaTarefa"
        [(ngModel)]="tarefaTipo"
        type="text"
        [disabled]="cardAddBoolean" />
      <input class="inputColor"
       type="color"
        [(ngModel)]="tarefaCor"
        [disabled]="cardAddBoolean"
        >
    </div>
    <button class="botaoFecharModal"
     (click)="cadastrarTipo()"
     [disabled]="cardAddBoolean">Cadastrar</button>
  </div>
</div>

<div class="listaCategorias">
  <h1 class="titleLista">Lista de Categorias</h1>
  <ul class="lista">
    <li *ngFor="let item of categoriasGeral; index as indice" [style.background-color]="coresGeral[indice]" class="itemCategoria">
      {{ item }}
      <a href="#" class="btnRemove" (click)="removerClasse(indice)">X</a>
    </li>
  </ul>
</div>
